:root {
    /* colours */
    --c-yellow: #f4d04e;
    --c-white: #ffffff;
    --c-gray-500: #6b6b6b;
    --c-gray-950: #121212;

    /* spacing */
    --spacing-50: 4px;
    --spacing-150: 12px;
    --spacing-200: 24px;
    
    /* font-sizes */
    --font-size-text-preset-1: 20px;
    --font-size-text-preset-2: 14px;
    --font-size-text-preset-3: 12px;

    @media (min-width: 375px) {
        --font-size-text-preset-1: 24px;
        --font-size-text-preset-2: 16px;
        --font-size-text-preset-3: 14px;
    }
}

@font-face {
    font-family: "figtree";
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: "figtree-italic";
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

*, html > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-yellow);
    height: 100vh;
    font-family: "figtree", "Arial", "sans-serif";
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.blog-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-200);
    background-color: var(--c-white);
    border: 1px solid var(--c-gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000000;
    padding: var(--spacing-200);
    width: 327px;

    @media (min-width: 375px) {
        width: 384px;
    }
}

.blog-preview__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;

    img {
        display: block;
        max-width: 100%;
        max-height: auto;
        object-fit:contain;
    }
}

.blog-preview__details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
}

.blog-preview__tag {
    background-color: var(--c-yellow);
    padding: var(--spacing-50) var(--spacing-150);
    border-radius: 4px;
    width: fit-content;
}

.blog-preview__tag-text {
    font-size: var(--font-size-text-preset-3);
    font-weight: 800;
    line-height: 150%;
}

.blog-preview__date {
    font-size: var(--font-size-text-preset-3);
    font-weight: 500;
    line-height: 150%;
}

.blog-preview__link {
    text-decoration: none;
    color: var(--c-gray-950);
    
    &:hover,
    &:focus {
        h1 {
            color: var(--c-yellow)
        }
    }
}

.blog-preview__title {
    font-size: var(--font-size-text-preset-1);
    font-weight: 800;
    line-height: 150%;
}

.blog-preview__description {
    color: var(--c-gray-500);
    font-size: var(--font-size-text-preset-2);
    font-weight: 500;
    line-height: 150%;
}

.blog-preview__author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-preview__author-image {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;

    img {
        max-width: 100%;
        max-height: auto;
        display: block;
        object-fit: contain;
    }
}

.blog-preview__author-name {
    font-size: var(--font-size-text-preset-3);
    font-weight: 800;
    line-height: 150%;
}

.attribution {
    font-size: 11px;
    text-align: center;

}

.attribution a {
    color: #3E52A3;
}

p {
    color: var(--c-gray-950);
    font-size: 16px;
}